Service:
  RegionId: cn-hangzhou
  DeployType: ros
  DeployMetadata:
    SupplierDeployMetadata:
      FileArtifactRelation:
        '{{ computenest::file::2048 }}':
          ArtifactId: ${Artifact.Artifact_1.ArtifactId}
          ArtifactVersion: ${Artifact.Artifact_1.ArtifactVersion}
    TemplateConfigs:
      - Name: 单机版
        Url: 'templates/template.yaml'
#        TrialType: Trial
        AllowedRegions:
          - cn-beijing
          - cn-hangzhou
          - cn-shanghai
  ServiceType: private
  ServiceInfo:
    Locale: zh-CN
    ShortDescription: 2048 demo
    Image: 'icons/service-logo.png'
    Name: 2048
  ShareType: Public
  ApprovalType: Manual
#  TrialDuration: 7
Artifact:
  Artifact_1:
    ArtifactType: File
    ArtifactName: 2048
    Description: 2048
    ArtifactProperty:
      RegionId: cn-hangzhou
      Url: 'artifacts/2048.tgz'
